# problem solving and programming

#### Date 12 june 2019

#### Day objectives

- String Slicing
- functions in python
- Basic problems related to conditional statements using functions
- iterations in python
- Python Data structures

# String Slicing

In [1]:
s1= "python"

s1

'python'

In [2]:
s1[0] # Accessing first character in a string

'p'

In [3]:
s1[1]  # Accessing second character in a string

'y'

In [5]:
s1[-1]  # Accessing last character in a string

'n'

In [8]:
s1[len(s1)-1]  #another way of Accesing the last character in a string

'n'

In [9]:
s1[-2]    #Accesing the last before charcter in a given string

'o'

In [11]:
s1[0:2]    #Accesing the first two characters

'py'

In [12]:
s1[:-2]  #getting except last two characters

'pyth'

In [13]:
s1[-2:]  #getting last two characters

'on'

In [14]:
s1[4:]  #Accessing all the characters 5th character to end of string

'on'

In [16]:
#Accesing all characters except first and last characters

s1

s1[1:-1]

'ytho'

In [23]:
#accessing the middle character of a string
s1
s1[len(s1)//2]   #Accessing the middle character of a string

'h'

In [24]:
s1

'python'

In [25]:
type(12)

int

In [26]:
type(12.3)

float

In [27]:
type("python")

str

In [30]:
type(23)

int

In [35]:
type(3)

int

In [40]:
type("hfh")

str

In [45]:
a=12

print(a,type(a))

12 <class 'int'>

In [46]:
a="hello"

print(a,type(a))

hello <class 'str'>

In [3]:
a=12.4
print(a,type(a))

12.4 <class 'float'>

In [55]:
#print the reverse of a given string

s1

s1[-1::-1]

'nohtyp'

In [66]:
#access last two characters of string in reverse order

s1[-2:]

'on'

In [63]:
#reverse the middle two characters in an even length stri

'nhy'

In [67]:
#accessing alternate characters in string i.e "pto"

s1[::2]

'pto'

In [68]:
#Accessing alternative characters of string in reverse order i.e "nhy"

s1[::-2]

'nhy'

# Functions

In [74]:
#reverse of a string
# Function to reverse a string

def reverseString(s1):
    return s1[::-1]
reverseString("python")

'nohtyp'

In [78]:
# function to check if a string is a palindrome

def palindrome(s1):
    if s1 ==s1[::-1]:
        return True
    else:
        return False
palindrome("noon")

True

In [83]:
#Function to check if a given year is a leap year

def isLeapYear(year):
    if year%400==0 or (year%100!=0 and year%4==0):
        return True
    else:
        return False

isLeapYear(1995)

False

In [89]:
# function to count the number of digits in a given num
def CountDigits(n):
    return len(str(n))

CountDigits(123454)

6

In [90]:
#Function to identify the greatest of 4  numbers


n1=2
n2=6
n3=8
n4=10
def greatestNum(n1,n2,n3,n4):
    if n1>n2 and n1>n3 and n1>n4:
        return n1
    elif n2>n3 and n2>n4:
        return n2
    elif n3>n4:
        return n3
    else:
        return n4
greatestNum(n1,n2,n3,n4)

10

# Iterations

- for

- while

In [91]:
#function to print n natural numbers

def printNNaturalNumbers(n):
    for counter in range(1, n+1):
        print(counter,end=" ")
    return 
printNNaturalNumbers(30)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [21]:
# function to print n natural numbers using while loop

def nNaturalNumbers(n):
    i=1
    while i<=n:
        print(i)
        i=i+1
    return

nNaturalNumbers(9)

1
2
3
4
5
6
7
8
9

In [2]:
#Function to print all numbers divisible by 6 
# and not a factor of 100 in a given range (lb,ub) inclusive

def printAllNum(lb,ub):
    i=1
    for i in range(lb,ub):
        if(i%6==0 and 100%i!=0):
            print(i)
printAllNum(10,20)

12
18

In [103]:
#function to find the average of all even numbers in a given range(lb,ub) inclusive

def allEvenNum(lb,ub):
    sum=0
    count=0
    for i in range(lb,ub):
        if(i%2==0):
            print(i)
allEvenNum(10,20)

10
12
14
16
18

In [108]:
#function to generate the list of factors for a given number i.e 12->1 2 3 4 5 6 12

def Fact(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i)
Fact(12)

1
2
3
4
6
12

In [124]:
##function to create a factorial of given niumber
n=int(input("enter a number"))
def Factorial(n):
    fact=1
    for i in range(2,n+1):
        fact=fact*i
    return fact
Factorial(n)

enter a number3

6

In [134]:
#function to check if a given number is prime or not

def isPrime(n):
    if(n==1):
        return False
    elif (n==2):
        return True
    else:
        for i in range(2,n):
            if(n%i==0):
                return False
        return True
print(isPrime(4))

False

In [132]:
# function to generate N prime numbers
def avgNPrimes(n):
    Primecount=0
    sum=0
    seqCount=2
    while(count<n):
        if isPrime(seqCount):
            Primecount +=1
            sum +=seqCount
        seqCount +=1
    return sum/n
avgNPrimes(n)

NameError: name 'count' is not defined

In [ ]:
#function to generate all perfect numbers in a given numbers in a given range

In [4]:
print(2 and 7)

7

In [5]:
print(7 and 10)

10

In [6]:
print(-7 and 6)

6

In [7]:
print(-5 and -6)

-6

In [8]:
print(10 and 4)

4

In [9]:
print(2+3 and 4/2)

2.0

In [20]:
i=1
for i in range(0):
    print(i)