In [4]:
#function to print all combinations of pairs of integers in a unique list
#[1,2,3]-->(1,2).(1,3),(2,3)-->3C2--->3!/((3-2)!*2!)
#combine the first element with next elemets like (1,2) and (1,3)
#[1,2,3,4]-->(1,2),(1,3),(1,4),(2,3),(2,4),(3,4)
#[1,2,3,4]--->(1,2,3),(1,2,4),(1,3,4),(2,3,4)

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range()
            print(li[i],li[j])
    #return 
# li=[1,2,3,4]
# combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [9]:
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
combinations3([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [34]:
def medium(li,k):
    count=1
    while(True):
            li3=DifferenceOfPairs(li)
            if li3[0]==li3[1]:
                break
    if len(li3[0])>k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1
#[1,9,8]-->[1,9,8,7,2]
def DifferenceOfPairs(li):
    copyli=li[:]
    newElements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            difference=abs(li[i]-li[j])
            if difference not in li and difference not in newElements:
                newElements.append(difference)
    li.extend(newElements)
    return [copyli,li]
                #copyli.append(difference)
li=[1,3,5,6,7]
medium(li,2)

6


# Set-Data Structure in python   
  
  - represented by {}
  
  - a = {1,2,3,4,5,6,7}--------->     elements are unique in sets
  
  - a.add(7)  ------------> add is a function to add the element and adding a single element to a set
  
  - for i in a:
        print(a,end=' ')   ------>adding multiple elements
        
   - a={1,2,3,4,5,6,7}
   
     b={2,5,3,4,6,3,6}
     
     a.update(b)

In [39]:
a = {1,2,3,4,5,6,7,6}
a.add(8)
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
a={1,2,3,4,5,6,7}
b={2,5,3,4,8,3,10}
a.update(b)
   
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [43]:
a={1,2,3,4,5,6,7}
li=[11,12,13]                 #update function used to add the elements in a list
a.update(b,li)
a

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13}

In [51]:
#a.remove(5)                #we can remove the elements using remove function or else using discard
a.discard(10)
a

{1, 2, 3, 4, 6, 8, 11, 12, 13}

In [56]:
a={1, 2, 3, 4, 6, 8, 11, 12, 13}
b={2, 3, 4, 5, 8, 10}                  ##combine all the elements from both the sets
a.union(b)

{1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13}

In [57]:
a={1, 2, 3, 4, 6, 8, 11, 12, 13}
b={2, 3, 4, 5, 8, 10} 

a.intersection(b)          #display the common elements in both sets

{2, 3, 4, 8}

In [61]:
c={2,3,4}                #disjoint means no common elements are there in both the set

d={5,6,7}               #(C n D)={}
c.isdisjoint(d)

True

In [62]:
a={1, 2, 3, 4, 6, 8, 11, 12, 13}
b={2, 3, 4, 5, 8, 10} 
a-b

{1, 6, 11, 12, 13}

In [63]:
a^b       #elements which are in a or b

{1, 5, 6, 10, 11, 12, 13}

In [65]:
li=[1,2,3,4,5,6,7,6,7]
u=set(li)
u

{1, 2, 3, 4, 5, 6, 7}

# Procedural: c

# Object Oriented: Java,PYTHON

# Scripting: PHP,PYTHON,JAVASCRIPT,SHELL,PERAL
    
# FUNCTIONAL: PYTHON,Haskell,scala
    
# Logic : Prolog,lisp

### LIST COMPREHENSION

In [69]:
#list of n natural numbers
n=10
li=[]
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
#Apply list comprehension to store the cubes of n natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [77]:
li=[i**3 for i in range(1,15)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [88]:
#function to calculate the m factorial

def factorial(n):
    if n==0 or n ==1:
        return 1
    return n*factorial(n-1)
#apply list comprehension to calculate the factorial of n natural numbers
n=10
factorialList=[factorial(i) for i in range(1,n)]

factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [95]:
#store cumulative sum of numbers till in the 
#n=3-->[1,3,6]
#n=5-->[1,3,6,10,15]
n=6
cumulativeSum=[sum(range(1,i+1)) for i in range(1,n+1)]
cumulativeSum

[1, 3, 6, 10, 15, 21]

In [96]:
#list comprehension to store 
# only leap years in a given time period

startyear=1970
endyear=2019
leapyears=[i for i in range(startyear,endyear+1) if (i %400==0 or i%100!=0) and (i%4==0)]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [105]:
li=[1,2,3,2,1,4,4,5,6,5,5]
unique=[]
u2=[]
unique=[i for i in range(0,len(li) if sorted(li)[i]!=sorted(li).count(i) == 1]
#unique=[u2.append(i) for i in li if i not in u2]
u2

[1, 2, 3, 4, 5, 6]

### iterators in python

- iterable ---->Strings,Lists,Tuples,Dictionaries

- convert iterable to iterator-->using function called -->iter()

- For Loop: we can break when some condition satisfied

- iterator: we can stop at any point during the exeuction

- 

-

In [7]:
def fun(name):
    print("hello",""+ name)
fun("raju")

hello raju

### Generator

Generator is Function

In [18]:
#n=1
def generator():
    n=2
    #while True:
    n **=3
        
    yield n
    yield n
    
    n=n**3
    
    yield n
    
    n=n**3
    
    yield n

a=generator()
for i in range(2):
    next(a)
next(a)

512

In [28]:
def ree(x):
    for i in range(1,x+1):
        return i
ree(2)

1